.container {
    width: 22%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    cursor: pointer;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: teal;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #666;
}

.desc {
    text-align: center;
    color: #777;
}

@media screen and (max-width: 540px) {
    .container {
        width: 100%;
    }

    .title {
        font-size: 30px;
    }

    .price, .desc {
        font-size: 24px;
    }
}

@media screen and (max-width: 1000px) {
    .desc {
        white-space: nowrap; 
        width: 100%; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }
}